src/META-INF/wsdl/localhost_8080/SupRails/soap/trips.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://ws.suprails.supinfo.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.suprails.supinfo.com/">

<xs:element name="all" type="tns:all"/>

<xs:element name="allResponse" type="tns:allResponse"/>

<xs:complexType name="all">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="allResponse">
<xs:sequence>
<xs:element name="return" type="tns:trip" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trip">
<xs:sequence>
<xs:element name="arrivalStation" type="tns:trainStation" minOccurs="0"/>
<xs:element name="departureStation" type="tns:trainStation" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="price" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trainStation">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>